<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="profile">Profile</a>
      <a mat-list-item routerLink="account">Account</a>
      <mat-list-item (click)="onLogout()"> Logout </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    Manage personal account settings
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
