<!-- <nav class="navbar navbar-expand navbar-dark bg-dark"> -->
<mat-toolbar class="bg-dark">
  <!-- <div class="navbar-nav"> -->
    <!-- <fa-icon [icon]="['fas', 'hospital-alt']"></fa-icon> -->
    <span><a mat-button routerLink="/"><mat-icon>home</mat-icon></a></span>
    <span *ngIf="userIsAuthenticated"><a mat-button routerLink="appointments">Appointments</a></span>
    <span *ngIf="userIsAuthenticated && medicRole"><a mat-button routerLink="med-appointments">Medical Appointments</a></span>
    <span class="auto-space"></span>
    <span *ngIf="userIsAuthenticated">
      <a mat-button routerLink="manage-account/profile">
        <mat-icon>account_circle</mat-icon>
      </a>
    </span>
    <span *ngIf="userIsAuthenticated && adminRole"><a mat-button routerLink="admin">Admin</a></span>
    <span *ngIf="!userIsAuthenticated"><a mat-button routerLink="auth">Login</a></span>
    <span *ngIf="userIsAuthenticated"><a mat-button (click)="onLogout()">Logout</a></span>
  <!-- </div> -->
<!-- </nav> -->
</mat-toolbar>
