﻿<mat-card>
  <h3>Please login to your account!</h3>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
    <mat-form-field>
      <input matInput ngModel type="email" name="email" placeholder="E-mail Address" #emailInput="ngModel" required email />
      <mat-error *ngIf="emailInput.invalid">Please provide a valid email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput ngModel type="password" name="password" placeholder="Password" #passwordInput="ngModel" required />
      <mat-error *ngIf="passwordInput.invalid">Password is required</mat-error>
    </mat-form-field>
    <button mat-button type="submit" color="accent">Login</button>
  </form>
</mat-card>
