<h3>Confirm Delete</h3>
<div>
  <span>You are about to detele all the data associated with your account.</span><br>
  <span>Once confirmed it cannot be reversed!</span><br>
  <span>Are you sure you want to delete your account?</span>
</div>
<hr>
<div>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary" (click)="onDelete()" cdkFocusInitial>Delete</button>
</div>
