<h3>Confirm appointment cancel</h3>
<div>
  <span>You are about to cancel the appointment.</span><br>
  <span>Once confirmed it cannot be reversed!</span><br>
  <span>Are you sure you want to cancel this appointment?</span>
</div>
<hr>
<div>
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Cancel Appointment</button>
</div>
