<h3>Confirm Appointment</h3>
<div>
  <span>You are about to confirm the appointment for date:<br>{{this.appointmentService.formatDate(data.appointmentDate)}}</span><br>
  <span>Once confirmed it cannot be reversed!</span>
</div>
<hr>
<div>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary" (click)="onConfirm(data.id)" cdkFocusInitial>Confirm</button>
</div>
