<h3>Appointment date</h3>
<div>
  <span>You have selected a date on the past. Please make sure the appointment is in the future.</span><br>
</div>
<hr>
<div>
  <button mat-button mat-dialog-close color="primary" cdkFocusInitial>Close</button>
</div>
