<h1>Profile Component</h1>
<p>Enter your First Name and Last Name to update your profile</p>
<form (submit)="onSubmit(submitForm)" #submitForm="ngForm" *ngFor="let profile of profileInfo;let i = index">
    <mat-form-field>
      <input matInput ngModel type="text" name="firstName" placeholder="First Name" required #firstName="ngModel" value="{{profile.firstName}}" /> {{profile.firstName}}
      <mat-error *ngIf="firstName.invalid">Please provide your First Name.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput ngModel type="text" name="lastName" placeholder="Last Name" required #lastName="ngModel" />{{profile.lastName}}
      <mat-error *ngIf="lastName.invalid">Please provide your Last Name.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput ngModel type="text" name="cnp" placeholder="Codul Numeric Personal" disabled #cnp="ngModel" />{{profile.cnp}}
    </mat-form-field>
    <mat-form-field>
      <input matInput ngModel name="birthDate" placeholder="Date of birth" disabled #birthDate="ngModel">{{profile.birthDate}}
    </mat-form-field>
    <button mat-button type="submit" color="accent">SAVE</button>
</form>
