<form [formGroup]="form" (submit)="onAddAppointment()">
  <mat-card>
    <mat-form-field class="hospital">
      <mat-label>Hospital</mat-label>
      <mat-select formControlName="hospital" required>
        <mat-option *ngFor="let hospital of hospitals" [value]="hospital.value">
          {{ hospital.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('hospital').invalid">Please select a hospital.</mat-error>
    </mat-form-field>
    <mat-form-field class="department">
      <mat-label>Department</mat-label>
      <mat-select formControlName="department" required>
        <mat-option *ngFor="let department of departments" [value]="department.value">
          {{ department.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('department').invalid">Please select a department.</mat-error>
    </mat-form-field>
    <mat-form-field class="medic">
      <mat-label>Medic</mat-label>
      <mat-select formControlName="medic" required>
        <mat-option *ngFor="let medic of medicsList" [value]="medic.id">
          {{ medic.firstName + ' ' + medic.lastName }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('medic').invalid">Please select a medic.</mat-error>
    </mat-form-field>
    <div class="pickers">
      <igx-date-picker class="date-field" formControlName="appointmentDate" mode="dialog" format="longDate" mask="dd-MM-y"></igx-date-picker>
      <igx-time-picker class="time-field" formControlName="appointmentTime" mode="dialog" format="HH:mm" [itemsDelta]="{hours:1, minutes:15}" ></igx-time-picker>
    </div>
    <!-- <div>
      <mat-error *ngIf="form.get('appointmentDate').invalid">Please select a date</mat-error>
      <mat-error *ngIf="form.get('appointmentTime').invalid">Please select a time</mat-error>
    </div> -->
    <!-- <div class="image-picker">
      <button mat-raised-button type="button" (click)="filePicker.click()">Upload Image</button>
      <input type="file" #filePicker (change)="onFilePicked($event)">
      <img class="image-privew" [src]="imagePreview" [alt]="form.value.title" *ngIf="imagePreview !== '' && imagePreview">
    </div> -->
    <mat-form-field>
      <textarea matInput rows="4" formControlName="additionalDetails" placeholder="Additional Details"></textarea>
      <mat-error *ngIf="form.get('additionalDetails').invalid">Please add a minimum of 5 letters</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Create Appointment</button>
  </mat-card>
</form>
