mat-form-field {
  width: 100%;
}

.pickers {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.time-field, .date-field {
  width: 47.5%;
  flex-direction: row;
}

input[type="file"] {
  visibility: hidden;
}

.image-privew {
  height: 10rem;
}

button:focus {
  outline: none;
}
