﻿<mat-card>
  <h4>Don't have an account? Register to build your medical profile!</h4>
  <form (submit)="onSubmit(submitForm)" #submitForm="ngForm">
    <mat-form-field>
      <input matInput ngModel type="text" name="firstName" placeholder="First Name" required #firstName="ngModel" />
      <mat-error *ngIf="firstName.invalid">Please provide your First Name.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput ngModel type="text" name="lastName" placeholder="Last Name" required #lastName="ngModel" />
      <mat-error *ngIf="lastName.invalid">Please provide your Last Name.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput ngModel type="text" name="cnp" placeholder="CNP" required minlength="13" #cnp="ngModel" />
      <mat-error *ngIf="cnp.invalid">Please provide your CNP.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" ngModel name="birthDate" placeholder="Date of birth" required #birthDate="ngModel">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput ngModel type="email" name="email" placeholder="E-Mail" required email #email="ngModel"/>
      <mat-error *ngIf="email.invalid">Please provide a valid E-mail.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput ngModel type="password" name="password" placeholder="Password" required #password="ngModel"/>
      <mat-error *ngIf="password.invalid">Please provide a relevant password</mat-error>
    </mat-form-field>
    <button mat-button type="submit" color="accent">Register</button>
  </form>
</mat-card>
