<div class="component-title"><h1>Admin Component</h1></div>
<hr>
<p>Promote user role from 'patient' to 'medic'. This action will provide access to new content to the chosen person.</p>
<mat-form-field>
  <input matInput [ngModel] name="cnp" placeholder="Medic CNP" required minlength="13" #medicCNP="ngModel">
  <mat-error *ngIf="medicCNP.invalid">Please provide the CNP to grand access</mat-error>
</mat-form-field>
<button mat-button color="accent" (click)="onGrant(medicCNP.value)" >Grand Medic Role</button>
