<h1>Account component</h1>
<p>Change email address:</p>
  <mat-form-field>
    <input matInput ngModel type="email" name="email" placeholder="E-mail Address" #emailInput required email />
    <mat-error *ngIf="emailInput === null">Please enter an email</mat-error>
    <mat-error *ngIf="emailInput.invalid">Please provide a valid email</mat-error>
  </mat-form-field>
  <button mat-button color="accent" (click)="onSave(emailInput.value)">SAVE</button>
<hr>
<span>Delete your account and all the data associated with your account.</span>
<button mat-button color="accent" (click)="openDialog()">Delete Account</button>
