/* :host {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.login-comp, .signup-comp {
  width: 45%;
  min-width: 300px;
  margin: 30px 0;
  text-align: center;
} */

label {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: block;
  width: 450px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.flipcard {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  z-index: 20;
}

.flipcard div {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 50%;
}

.flipcard .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

input {
  display: none;
}

.flipcard.voted {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.info {
  margin: 20px 0;
  background-color: wheat;
  padding: 5px;
}

button:focus {
  outline: none;
}
