<label>
  <div id="flipcard" class="flipcard" [class.voted]="flipped">
    <div class="front" *ngIf="!flipped">
      <app-login></app-login>
      <mat-card class="info">
        <p>Don't have an account? Click to register
          <button mat-button color="accent" (click)="flipIt()">Signup</button>
        </p>
      </mat-card>
    </div>
    <div class="back">
      <app-signup></app-signup>
      <mat-card class="info">
        <p>Already having an account? Click to login
          <button mat-button color="accent" (click)="flipIt()">Login</button>
        </p>
      </mat-card>
    </div>
  </div>
</label>
