<div class="component-title"><h1>Medical Appointments Component</h1></div>
<hr>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
</mat-form-field>

<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="hospital">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Hospital </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.hospital}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="department">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Department </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.department}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="appointmentDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header> AppointmentDate </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{this.appointmentService.formatDate(element.appointmentDate)}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="appointmentStatus">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.appointmentStatus}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button *ngIf="element.appointmentStatus == 'Pending'" mat-button (click)="onConfirm(element.id, element.appointmentDate)" >Confirm</button>
      <button *ngIf="element.appointmentStatus != 'Cancelled'" mat-button (click)="onCancel(element.id)">Cancel</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
<mat-paginator [pageSizeOptions]="[3, 6]"></mat-paginator>
