:host {
  margin-top: 20px;
  display: block;
}

.info-text {
  text-align: center;
}

.reschedule {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.pickers {
  text-align: left;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.time-field, .date-field {
  width: 45%;
  flex-direction: row;
}

button:focus {
  outline: none;
}
