<mat-accordion *ngIf="appointments.length > 0" multi="true">
  <mat-expansion-panel *ngFor="let appointment of appointments;let i = index">
    <mat-expansion-panel-header [style.background-color]="getColor(appointment.appointmentStatus)">
      <mat-panel-title>{{appointment.appointmentStatus}}</mat-panel-title>
      <mat-panel-description>{{ this.appointmentService.formatDate(appointment.appointmentDate) }}</mat-panel-description>
    </mat-expansion-panel-header>
    <br>
    <p>Programarea dumneavoastra este facuta la {{ appointment.hospital }}, specializarea {{appointment.department}} pentru data de {{ this.appointmentService.formatDate(appointment.appointmentDate) }}</p>
    <p>Detalii suplimentare: {{ appointment.additionalDetails }}</p>

      <form (submit)="onUpdate(rescheduleForm, appointment.id)" #rescheduleForm="ngForm" class="reschedule" *ngIf="resAppointment && appointment.id === app.id">
        <hr>
        <p>Please select the new date and time for the appointment.</p>

        <div class="pickers">
          <igx-date-picker class="date-field" [(ngModel)]="datePick" name="newdate" mode="dropdown" format="longDate" mask="dd-MM-y"></igx-date-picker>
          <igx-time-picker class="time-field" [(ngModel)]="timePick" name="newtime" mode="dropdown" format="HH:mm" [itemsDelta]="{hours:1, minutes:15}"></igx-time-picker>
        </div>

        <div mat-dialog-actions>
          <button mat-button (click)="onCancel()">Cancel</button>
          <button mat-button type="submit">Update</button>
        </div>
      </form>

    <mat-action-row *ngIf="userIsAuthenticated && (appointment.appointmentStatus != 'Cancelled' && appointment.appointmentStatus != 'Missed')" >
      <button mat-button color="primary" (click)="toggleReschedule(appointment)">RESCHEDULE</button>
      <button mat-button color="warn" (click)="onDelete(appointment.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<p class="info-text mat-body-2" *ngIf="appointments.length <= 0">No appointments scheduled for the moment!</p>
